$form-bg: #f8f4e5;
$font-size: 12pt;

.form-container {
    margin: 0px auto;
    max-width: 600px;

    label {
        text-transform: uppercase;
    }
    label,
    input,
    textarea {
        display: block;
        width: 100%;
        font-size: $font-size;
        line-height: $font-size * 1.7;
    }
    input {
        margin-bottom: $font-size;
    }
    h3 {
        font-weight: normal;
        font-size: 10pt;
        line-height: $font-size * 2;
        font-style: italic;
        margin: 0 0 .5em 0;
    }
    span {
        font-size: 8pt;
    }
    em {
        color: darken($themeColor, 10%);;
        font-weight: bold;
    }
    input,
    textarea {
        border: none;
        border: 1px solid rgba(0,0,0,.1);
        border-radius: 2px;
        background: $form-bg;
        padding-left: 5px;
        outline: none;
    }
    input:focus,
    textarea:focus {
        border: 1px solid darken($themeColor, 10%);
    }
    textarea {
        height: 200px;
    }
    button {
        display: block;
        float: right;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 300;
        font-size: $font-size / 1.2;
        padding: 14px 20px 10px;
        border: none;
        background: darken($themeColor, 10%);
        color: white;
        letter-spacing: 2px;
        transition: .2s all ease-in-out;
        border-bottom: 2px solid transparent;
        outline: none;

        &:hover {
            background: inherit;
            color: darken($themeColor, 10%);
            border-bottom: 2px solid darken($themeColor, 10%);
        }
    }
    form > div {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    iframe {
        margin: 0;
    }
    ::selection {
        background: rgb(255, 199, 184);
    }
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus {
        border: 1px solid darken($themeColor, 10%);
        -webkit-box-shadow: 0 0 0px 1000px $form-bg inset;
        transition: background-color 5000s ease-in-out 0s;
    }
}