---
layout: page
---

<style type="text/css" media="screen">
  .container {
    margin: 0px auto;
    max-width: 600px;
  }
</style>

<div class="container">
  <form name="contact" method="POST" data-netlify="true">
    <p>
      <label>Name <em>&#x2a;</em> <input type="text" name="name" /></label>
    </p>
    <p>
      <label>E-Mail <em>&#x2a;</em> <input type="email" name="email" /></label>
    </p>
    <p>
      <label>Nachricht <em>&#x2a;</em> <textarea name="message"></textarea></label>
    </p>
    <p>
      <button type="submit">Abschicken</button>
    </p>
  </form>
</div>
