---
layout: page
---
<div class="form-container">
  <h1 class="post-title">Hinterlass mir eine Nachricht</h1>

  <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true" action="/contact/message-sent">
    <p>
      <label>Name <em>&#x2a;</em> <input type="text" name="name" required /></label>
    </p>
    <p>
      <label>E-Mail <em>&#x2a;</em> <input type="email" name="email" required /></label>
    </p>
    <p>
      <label>Nachricht <em>&#x2a;</em> <textarea name="message" required></textarea></label>
    </p>
    <div data-netlify-recaptcha="true"></div>
    <p>
      <button type="submit" arial-label="Nachricht senden">Abschicken</button>
    </p>
  </form>
</div>
